* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(236, 181, 234);
}

.navbar {
    background-color: blueviolet;
    height: 8vh;
    display: block;
    margin: auto;
    max-width: 80vw;
    margin-top: 40px;
    border-radius: 5px;
}

.navbar h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.container {
    height: 70vh;
    border: 2px solid black;
    margin: auto;
    max-width: 80vw;
    border-radius: 20px;
    margin-top: 20px;
}

.outgoing-message {
    float: right;
    clear: both;
    border: 1px solid black;
    border-radius: 4px;
    background-color:rgb(240, 248, 255);
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

.middle {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 80px;
    clear: both;
    
}

.middle-text {
    display: inline-block;
    margin-left: 35vw;
    margin-top: 20px;
    clear: both;
    border: 2px solid black;
    border-radius: 3px;
    background-color: rgb(125, 156, 180);
    padding: 6px;
}

.incoming-message {
    float: left;
    clear: both;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(64, 113, 185);
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

#send-container {
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 80%;
    margin-top: 10px;
}

#messageInp {
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    margin-top: 10px;
    padding-left: 6px;
    
   
}

.button {
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
}